---

name: Mac OS Build

on:
  workflow_call:
    inputs:
      run-platform:
        required: true
        type: string
      build-type:
        required: true
        type: string

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ${{ inputs.run-platform }}

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Install Python Dependencies
        run: |
          python --version
          python -m pip install --upgrade pip
          pip install -r ${{github.workspace}}/VstHost_Python/requirements.txt

      - name: Install Doxygen
        run: |
          brew install doxygen

      - name: Configure CMake
        run: |
          mkdir build
          cd build
          cmake -G Xcode ${{github.workspace}}/VstHost_VisualC++ -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_COMPILER=gcc -DBUILD_GMOCK=1
          cd ..

      - name: Build C++ Code
        run: |
          cmake --build ${{github.workspace}}/build --config ${{ inputs.build-type }} -j 8 --resolve-package-references on

      - name: Run C++ Unit Tests
        run: |
          cd ${{github.workspace}}/build/bin/${{ inputs.build-type }}
          ${{github.workspace}}/build/bin/${{ inputs.build-type }}/ApiUnitTests
          ${{github.workspace}}/build/bin/${{ inputs.build-type }}/OfflineToolsUnitTests

      - name: Run Python Unit Tests
        run: |
          cp -fr ${{github.workspace}}/build/bin/${{ inputs.build-type }}/adelay.vst3 ${{github.workspace}}/VstHost_Python/UnitTests/adelay.vst3
          cp ${{github.workspace}}/build/bin/${{ inputs.build-type }}/libAudioHostLib.dylib ${{github.workspace}}/VstHost_Python/UnitTests/
          cd ${{github.workspace}}/VstHost_Python
          python --version
          python -m unittest discover UnitTests "test_*.py"
          cd ${{github.workspace}}

      - name: Clean Up After Build
        run: |
          rm ${{github.workspace}}/build/bin/${{ inputs.build-type }}/ApiUnitTests
          rm ${{github.workspace}}/build/bin/${{ inputs.build-type }}/OfflineToolsUnitTests
          rm -fr ${{github.workspace}}/build/bin/${{ inputs.build-type }}/adelay.vst3
          rm ${{github.workspace}}/build/bin/${{ inputs.build-type }}/VstHost.log
          rm -fr ${{github.workspace}}/build/bin/${{ inputs.build-type }}/data

      # - name: Archive Build Artifacts
      #   uses: actions/upload-artifact@v1
      #   with:
      #     name: mac_os
      #     path: ${{ github.workspace }}/build/bin/${{env.BUILD_TYPE}}
